.container {
    text-align: center;
    margin: 2%;
}

div#tempeture {
    font-size: 10vh;
}
.contry {
    font-size: 26px;
}
.city {
    font-size: 28px;
}
.climate {
    font-size: 4vh;
}

.weather{
    font-size: 7vh;
}
.time{
    font-size: 4vh;
}
.card {
    background: #fff;
    width: 46%;
    margin: auto;
    padding: 43px;
    border-radius: 16px;
    box-shadow: 2px 2px 11px 2px;
}
.card-row{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
#body{
    background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}